  <div class="container">
    <header class="d-flex flex-wrap align-items-start justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      {% comment %} <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
      </a> {% endcomment %}

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li class="nav-btn"><a href="{% url 'home' %}" class="nav-link px-2 ">Начало</a></li>
        <li class="nav-btn"><a href="{% url 'create-trail' %}" class="nav-link px-2">Качи трак</a></li>
        <li class="nav-btn"><a href="#" class="nav-link px-2">Състезания</a></li>
        <li class="nav-btn"><a href="{% url 'type-trail' 'kom-emine'%}" class="nav-link px-2">Ком Емине</a></li>
        <li class="nav-btn"><a href="{% url 'about' %}" class="nav-link px-2">За нас</a></li>
      </ul>

      <div class="col-md-3 text-end">
        {% if user.is_authenticated %}
            <a class="btn btn-light" aria-current="page" href="{% url 'user-detail' user.get_username %}">
              {{ user.username }}
          </li>
          <a class="btn btn-danger mx-2" aria-current="page" href="{% url 'logout' %}">Изход</a>
        {% else %}
          <a class="btn btn-outline-primary mx-2 me-2" aria-current="page" href="{% url 'login' %}">Вход</a>
          <a class="btn btn-primary mx-2" aria-current="page" href="{% url 'register' %}">Регистрация</a>
        {% endif %}
      </div>
    </header>
  </div>