{% extends "base.html" %}

{% load static %}
{% block head %}

 <link rel='stylesheet' href="{% static 'signup.css' %}">

{% endblock %}

{% block content %}


<div class='container'>
    <div class='d-flex align-items-center flex-column'>
        <div class='d-flex align-items-center flex-column pb-4 signupForm'>
            <div class='d-flex align-items-center flex-column p-4 mb-3 signupTitle'>
                <h2>Регистрирай се</h2>
            </div>
            <div class='d-flex'>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-light" type='submit'>Sign up</button>
                </form>
            </div>    
        </div>
    </div>
</div>


{% endblock %}