{% extends 'blog/base.html' %}
{% block content %}
        <div>
        <h1>About us</h1>
        <p>This project is the final project in the Hack Bulgaria Python101 Course. It was created by Ivan
        <a target="_blank" href="https://github.com/ivan4oto">Github</a> and Redjep
        <a target="_blank" href="https://github.com/mollaali98">Github</a> link.</p>
        <p>
        If you want you can find more about the course on the HackBulgaria
        <a target="_blank" href="https://hackbulgaria.com/">webpage</a> 
        </p>
      </div>
{% endblock content %}
