{% extends 'blog/base.html' %}
{% block content %}



    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Adventurer</h5>
                <hr>
                <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'edit' %}">Update</a>
                <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'create' %}">Create Blog</a>
            </div>
        </div>

        <div class="col-md">
            <div class="card card-body">
                <h5>Contact Information</h5>
                <hr>
                <p>Email: {{ adventurer.email }}</p>
                <p>Phone: {{ adventurer.phone }}</p>
            </div>
        </div>

        <div class="col-md">
            <div class="card card-body">
                <h5>Total blogs</h5>
                <hr>
                <h1 style="text-align: center;padding: 10px">{{ posts_count }}</h1>
            </div>
        </div>
    </div>

    <br>

    {% if posts %}
        {% for post in posts %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="#">{{ post.author }}</a>
                        <small class="text-muted">{{ post.date_posted }}</small>
                    </div>
                    <h2><a class="article-title" href="{% url 'detail' post.id %}">{{ post.title }}</a></h2>
                    <p class="article-content">{{ post.description }}</p>
                    <p class="article-content">Distance = {{ post.distance }}</p>
                    <p class="article-content">Elevation gain = {{ post.elevation }}</p>
                </div>
            </article>
        {% endfor %}
    {% else %}
        <p><strong>No blogs yet.</strong></p>
    {% endif %}


{% endblock %}
