{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">


    {% if title %}
        <title> Django Blog - {{ title }}</title>
    {% else %}
        <title>Django Blog</title>
    {% endif %}

</head>
<body>
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">BGtrails</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
                    <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
                    {#                    tozi boton she go shriem za da ne moje user koito ne se e lognal da pravi post!!#}
                    <a class="nav-item nav-link" href="{% url 'create' %}">Create</a>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    {% if not user.is_authenticated %}
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                    {% endif %}
                    {% if  user.is_authenticated %}
                        <a class="nav-item nav-link" href="{% url 'adventurer' user.adventurer.id %}">My blogs</a>
                        <a class="nav-item nav-link" href="{% url 'want-go' %}">Wish to go!</a>
                        <a class="nav-item nav-link" href="{% url 'went_there' %}">Already been there!</a>
                        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>
{% for message in messages %}
    <p style="position:relative; left:700px; top:2px;" id="messages"> {{ message }}</p>
{% endfor %}

<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
            <div class="content-section">
                <h3>Search Trail</h3>
                <p class='text-muted'>You can search for a trail based on the following criteria:
                    <ul class="list-group">
                        <form method="GET" action=''>
                            <input type='text' name='name' placeholder='Trail name'/>
                            <input type='text' name='distance' placeholder='Distance'/>
                            <input type='text' name='elevation' placeholder='Elevation'/>
                <p>
                    <input type='submit' value='Search'/>
                </p>
                </form>
                </ul>
                </p>
            </div>
        </div>
    </div>
</main>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>