{% extends 'blog/base.html' %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            {% if post.author == user.adventurer %}
                <p><a href="{% url 'update' post.id %}"><button> Edit </button></a></p>
            {% endif %}
            {#            <a href="{% url 'update' post.id %}">Edit</a>#}
            {% if not post in user.adventurer.want_go_adventurer_set %}
               <p> <a href="{% url 'add-post' post.id %}"><button>Add to wishlist</button></a></p>
            {% endif %}
            {% if not post in user.adventurer.been_there_adventurer_set %}
               <p> <a href="{% url 'add_been_there' post.id %}"><button>Mark as visited</button></a></p>
            {% endif %}
            <h2>{{ post.title }}</h2>
            <p>Distance: <b>{{ post.distance.km }} km</b></p>
            <p>Elevation: <b>{{ post.elevation }}</b></p>
            <p>
                <td><a href="http://maps.google.com/?q={{ post.lat }} {{ post.lon }}"> Starting Point </a></td>
            </p>
            <p>
                <td><a href="{{ post.file.url }}" download> GPX Track </a></td>
            </p>
            <p>
                {% if  post.author == user.adventurer %}
                    <td><a href="{% url 'add-photos' post.id %}"> <button>Add photos</button> </a></td>
                {% endif %}
            </p>
            <p>
                {% for photo in photos %}
                    <img class="article-photo" src={{ photo.image.url }}>
                {% endfor %}
            </p>
            {% if post.image %}
                <p><img class="article-photo" src={{ post.image.url }}></p>
            {% endif %}
        </div>
    </article>
{% endblock %}