{% extends 'blog/base.html' %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <a href="{% url 'update' post.id %}">Edit</a>
        <h2>{{ post.title }}</h2>
        <p>Distance: {{ post.distance }}</p>
        <p>Elevation: {{ post.elevation }}</p>
        <p>
            <td>><a href="http://maps.google.com/?q={{ post.lat }} {{ post.lon }}"> Starting Point </a></td>
        </p>
        <p>
            <td><a href="{{ post.file.url }}" download> GPX Track </a></td>
        </p>
        <p>
        </p>    
        {% if post.image %}
        <img src='{{ post.image.url }}' class="article-photo" />
        {% endif %}
    </div>
</article>
{% endblock %}