{% extends 'blog/base.html' %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <div class="post-title">
                <h2><a class="article-title" href="{% url 'detail' post.id %}">{{ post.title }}</a></h2>
            </div>
            <p class="article-content">{{ post.description }}</p>
            <p class="article-content">Distance {{ post.distance }}</p>
            <p class="article-content">Elevation gain {{ post.elevation }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}