{% extends 'blog/base.html' %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            {% if  object.author == user.adventurer %}
                <a href="{% url 'update' object.id %}">Edit</a>
            {% endif %}
            <h2>{{ object.title }}</h2>
            <p>Distance: {{ object.distance }}</p>
            <p>Elevation: {{ object.elevation }}</p>
            <p>Download GPX: {{ object.file }}</p>
        </div>
    </article>

{% endblock %}