{% extends 'blog/base.html' %}
{% block content %}
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Warning</h4>
    <p>You are about to delete "{{ post.title }}" with all of its contents. Are you sure you want to proceed?</p>
    <hr>
    <form action='.' method="POST">{% csrf_token %}
    <p>
        <input type="submit" value="Yes" class="btn btn-light"/>
        <a href="../"><button type="button" class="btn btn-light">Cancel</button></a>
    </p>
    </form>
  </div>
{% endblock %}