{% extends 'blog/base.html' %}


{% block content %}
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Average rating</h5>
                <hr>
                <h1 style="text-align: center;padding: 10px">{{ average }}</h1>
            </div>
        </div>

        <div class="col-md">
            <div class="card card-body">
                <h5>Been here</h5>
                <hr>
                <h1 style="text-align: center;padding: 10px">{{ been_there }}</h1>
            </div>
        </div>

        <div class="col-md">
            <div class="card card-body">
                <h5>Want to come</h5>
                <hr>
                <h1 style="text-align: center;padding: 10px">{{ want_go }}</h1>
            </div>
        </div>
    </div>

    <br>

    {% if rates %}
        {% for rate in rates %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="#">{{ rate.author }}</a>
                    </div>
                    <p class="article-content">Rate : {{ rate.rate }}
                        Visited : {{ rate.is_visited }}</p>
                    <p class="article-content">{{ rate.comments }}</p>
                </div>
            </article>
        {% endfor %}
    {% else %}
        <p><strong>No rates yet.</strong></p>
    {% endif %}
{% endblock %}
