<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Редактиране</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        <form method="post" enctype="multipart/form-data" id="post-form">
        {% csrf_token %}
            <div class="form-group">
            <label for="trail-name" class="col-form-label">Име:</label>
            <input type="text" class="form-control" id="trail-name" placeholder={{ object.name }}>
            </div>
            <div class="form-group">
            <label for="trail-distance" class="col-form-label">Разстояние:</label>
            <input type="number" step="any" class="form-control" id="trail-distance" placeholder={{object.distance}}>
            </div>
            <div class="form-group">
            <label for="trail-elevation" class="col-form-label">Изкачване:</label>
            <input type="number" class="form-control" id="trail-elevation" placeholder={{object.elevation}}>
            </div>
            <div class="form-group">
            <label for="trail-description" class="col-form-label">Описание:</label>
            <textarea class="form-control" id="trail-description">{{object.description}}</textarea>
            </div>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Затвори</button>
        <button type="submit" class="btn btn-primary">Запази</button>
        </form>
        </div>
        <div class="modal-footer">
        </div>
    </div>
    </div>
</div>