{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href="{% static 'trails/dist/css/style.css' %}">
    <link rel='stylesheet' href="{% static 'trails/css/main.css' %}">
    <title>{% block title %}Django Bootcamp{% endblock %}</title>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div>
        {% include 'base/navbar.html' %}
        <div class='container'>
          {% block content %}
          {% endblock %}
        </div>
    </div>    
    <script src="{% static 'trails/dist/js/app.js' %}"></script>
    {% block js %}
    {% endblock %}
  </body>
</html>