{% extends "base.html" %}
{% block content %}
    <h3>MAKE A TRAIL</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="field">
        <label class="label">Name</label>
            <div class="control">
                {{ form.name }}
            </div>
        </div>

        <div class="field">
            <label class="label">Message</label>
            <div class="control">
                {{ form.description }}
            </div>
        </div>


        <div class="file">
            <label class="file-label">
                {{ form.gpx_file }}
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                        Choose a file…
                    </span>
                </span>
            </label>
        </div>
            <div class="control">
                <button class="button is-link">Submit</button>
            </div>
    </form>
{% endblock %}