{% extends "base.html" %}
{% load static %}
{% block head %}
 {% comment %} <link rel='stylesheet' href="{% static 'css/leaflet.css' %}"> {% endcomment %}
 <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />

{% endblock %}

{% block title %}{{ object.name }}{% endblock %}
  {% block content %}
  <div class="border border-secondary mt-2">

    <div class="row m-2">
      <div class="col border border-secondary">
        <h3 class="title">{{ object.name }}</h3>
      </div>

      <div class="col border border-secondary">
        <div class='row'>
          <div class='col'>
            <h4>{{ object.distance }}</h4>
            <small class="text-muted">
            Distance
            </small>
          </div>
        <div class='col'>
          <h4>{{ object.elevation }}</h4>
          <small class="text-muted">
          Elevation
          </small>
        </div>
        <div class='col'>
          <div class='row'>
            <a href={{ object.gpx_file.url }}>
              <img src="{% static 'trails/images/icons/download_black.svg' %}" alt="Download">
              <small class="text-muted">Download</small>
            </a>
          </div>
          <div class='row'>
            <a href={% url 'update-trail' object.id %}>
              <img src="{% static 'trails/images/icons/download_black.svg' %}" alt="Download">
              <small class="text-muted">Update</small>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col">
      2 of 3
    </div>
    <div class="col">
      3 of 3
    </div>
  </div>

    <div class="row">
      <div class="col-sm-8">    <div id="map"></div></div>
      <div class="col-sm-4"><p>{% lorem 3 b random %}</p></div>
    </div>

   <div style="position: inherit;" id="graphdiv2"></div>
 </div>

    {% block js %}

    
     <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
     <script src="{% static 'trails/js/dygraph.js' %}"></script>

      <script type="text/javascript">
        var objLat = "{{ object.get_lat }}";
        var objLon = "{{ object.get_lon }}";
        var objGpxPath = "{{ object.gpx_file.url }}";
        var objName = "{{ object.name }}";
      </script>

          <script type="text/javascript">
          var csvPath = "{{ object.csv_file.url }}"
            g2 = new Dygraph(
              document.getElementById("graphdiv2"),
              csvPath, // path to CSV file
              {}          // options
            );
          </script>

      <script src="{% static  'trails/js/togeojson.js'%}"></script>
      <script src="{% static 'trails/js/mymap.js' %}"></script>
  {% endblock %}

{% endblock %}