{% extends "base.html" %}
{% load static %}
{% block head %}
 {% comment %} <link rel='stylesheet' href="{% static 'css/leaflet.css' %}"> {% endcomment %}
 
 <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
 <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />

{% endblock %}
{% block title %}{{ object.name }}{% endblock %}
  {% block content %}
    <h1 class="title">{{ object.name }}</h1>
    <h2 class="subtitle">
      <strong>Distance:</strong> {{ object.distance }}
      <br>
      <strong>Elevation:</strong> {{ object.elevation }}
      <br>
      <strong>Download:</strong>
      <a href={{ object.gpx_file.url }}>
        <img src="{% static 'trails/images/icons/download_black.svg' %}" alt="Download">
      </a>
    </h2>
    <div id="map"></div>
    <h2 class="subtitle">
    Description:
    {{ object.description }}
    </h2>

    {% block js %}
      {% comment %} <script src="{% static 'trails/js/jquery-3.6.0.js' %}"></script> {% endcomment %}
      <script src="{% static  'trails/js/togeojson.js'%}"></script>
      <script type="text/javascript">
        var objLat = "{{ object.get_lat }}";
        var objLon = "{{ object.get_lon }}";
        var objGpxPath = "{{ object.gpx_file.url }}";
        var objName = "{{ object.name }}";

      </script>
      <script src="https://sdk.amazonaws.com/js/aws-sdk-2.863.0.min.js"></script>
      <script src="{% static 'trails/js/mymap.js' %}"></script>
  {% endblock %}
{% endblock %}