{% extends "base.html" %}
{% load static %}
{% block content %}

    <h3>Update this trail</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
          <label for="formName" class="form-label">Име</label>
           {{ form.name }}
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock %}
{% block js %}

    <script type="text/javascript">
    </script>
    
{% endblock %}